<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/Celurean/bootstrap.css">
    <link rel="stylesheet" href="../css/table.css">
    <script src="../js/resources/jquery-3.2.1.min.js"></script>
    <script src="../js/functions/07.Bitacora.js"></script>
    <script src="../js/functions/US.js"></script>
    <script src="../js/functions/01.In.js"></script>
    <script src="../js/functions/menu.js"></script>
    <script src="../js/functions/ShowMenu.js"></script>
    <script src="../js/resources/toastr.min.js"></script>
    <link rel="stylesheet" href="/css/toastr.min.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="shortcut icon" href="../img/chek.png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RRHH</title>
</head>

<body style="background-color:lightgray;">

    <div style="background-color: white;"
        class="container justify-content-center col-sm-12 col-md-12 col-lg-10 col-xl-10">

        <nav style="background-color:  rgba(231, 231, 231, 0.75);"
            class="navbar navbar-expand-lg navbar-expand-sm navbar-dark">
            <span class="open-side" style="text-align: left;">
                <br>
                <a href="#" onclick="openSideMenu()">
                    <svg width="30" height="30">
                        <path d="M0,5 30,5" stroke="#111" stroke-width="5" />
                        <path d="M0,14 30,14" stroke="#111" stroke-width="5" />
                        <path d="M0,23 30,23" stroke="#111" stroke-width="5" />
                    </svg>
                    <br>
                    <br>
                </a>
            </span>
            <div id="side-menu" class="side-nav">
                <a href="#" class="btn-close" onclick="closeSideMenu()">&times;</a>
                </button>
            </div>
        </nav>

        <div class="container col-12">
            <div class="card bg-light mb-3 container shadow-lg mt-4 col-12"
                style="background-color: rgba(96, 96, 96, 0.5);">
                <div class="container">
                    <br>
                </div>
                <div class="card-header form-group">
                    <h1 style="text-align: center;color: black;">HISTORIAL DE ACCIONES</h1>
                </div>
                <div class="container col-11 mt-4">
                    <h3 style="color: black; text-align: center;">Busqueda General/Texto/Fecha</h3>
                    <div class="row mt-4">
                            <input id="buscar" type="text" placeholder="NOMBRE DEL COLABORADOR"
                                class="col-form-label col-sm-12 col-md-12 col-lg-5 col-xl-5">
                            <input type="date" id="fecha" class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
                            <button class="btn btn-outline-info col-sm-12 col-md-12 col-lg-2 col-xl-2"
                                onclick="find()">Buscar</button>
                            <button class="btn btn-outline-info col-sm-12 col-md-12 col-lg-2 col-xl-2"
                                onclick="clean()">Limpiar Campos</button>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="container col-12">
                        <div class="container  mt-4 col-11">
                            <div class="row justify-content-center">
                                <div class="col-sm-10 col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group scrollable2">
                                        <table class="table table-bordered table-sm rounded-2 mt-4"
                                            style="background-color: white;">
                                            <thead class="thead-active">
                                                <tr class="text-center">
                                                    <th>FECHA</th>
                                                    <th>DESCRIPCION</th>
                                                    <th>OBSERVACIONES</th>
                                                </tr>
                                            </thead>
                                            <tbody id="datos" class="text-center">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <br>
                </div>
            </div>
        </div>

        <footer class="page-footer font-small blue" style="background-color: rgba(96, 96, 96, 0.5);">
            <br>
            <div class="footer-copyright text-center py-3">2021 Made By:
                <h6 style="color: black;">Josué Isael Bonilla Matías</h6>
            </div>
        </footer>

    </div>

</body>

</html>