<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/Celurean/bootstrap.css">
  <script src="../js/resources/jquery-3.2.1.min.js"></script>
  <script src="../js/functions/In.js"></script>
  <script src="../js/functions/03.UserReg.js"></script>
  <script src="../js/functions/US.js"></script>
  <script src="../js/functions/AD.js"></script>
  <script src="../js/functions/menu.js"></script>
  <script src="../js/functions/ShowMenu.js"></script>
  <script src="../js/resources/toastr.min.js"></script>
  <script src="../css/table.css"></script>
  <script src="../css/tableView.css"></script>
  <link rel="stylesheet" href="../css/toastr.min.css">
  <link rel="stylesheet" href="../css/menu.css">
  <link rel="shortcut icon" href="../img/logo2020.png" />
  <title>MUNICIPALIDAD DE MATAQUESCUINTLA</title>
  <script>
  </script>
</head>

<body style="background-color:lightgray;">

  <div style="background-color: white;"
    class="container justify-content-center col-sm-12 col-md-12 col-lg-10 col-xl-10">

    <nav style="background-color:  rgba(231, 231, 231, 0.75);"
      class="navbar navbar-expand-lg navbar-expand-sm navbar-dark">
      <span class="open-side" style="text-align: left;">
        <br>
        <a href="#" onclick="openSideMenu()">
          <svg width="30" height="30">
            <path d="M0,5 30,5" stroke="#111" stroke-width="5" />
            <path d="M0,14 30,14" stroke="#111" stroke-width="5" />
            <path d="M0,23 30,23" stroke="#111" stroke-width="5" />
          </svg>
          <br>
          <br>
        </a>
      </span>
      <div id="side-menu" class="side-nav">
        <a href="#" class="btn-close" onclick="closeSideMenu()">&times;</a>
        </button>
      </div>
    </nav>

    <div class="container col-12">
      <div class="card bg-light mb-3 container shadow-lg mt-4" style="background-color: rgba(96, 96, 96, 0.5);">
        <div class="container">
          <br>
        </div>
        <div class="card-header form-group">
          <h1 style="text-align: center;color: black;">REGISTRO DE USUARIOS</h1>
        </div>
        <div class="col-sm-5 col-md-6 col-lg-12 col-xl-12">
          <h4 style="color: black;text-align: center; ">Seleccionar Jefe</h4>
          <input class="col-form-label col-sm-10 col-md-10 col-lg-11 col-xl-11" type="text" id="selector">
          <button class="btn btn-outline-info" onclick="VerUsuarios()">Buscar</button>
          <div class="form-group scrollable">
            <table class="table table-bordered table-sm rounded-2 mt-4" style="background-color: white;">
              <thead class="thead-light">
                <tr>
                  <th class="text-center">DPI</th>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Cargo</th>
                </tr>
              </thead>
              <tbody id="datos" class="text-center">
              </tbody>
            </table>
          </div>
        </div>
        <div class="container col-12">
          <div class="container">
            <br>
          </div>
          <div class="row justify-content-center mt-4">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
              <div class="form-group">
                <div class="form-group">
                  <h4 style="color:black; text-align: left;">DPI: </h4>
                  <br>
                  <input type="text" style="text-align: center;" class="form-control col-12" id="dpi" required>
                </div>
                <div class="form-group">
                  <h4 style="color:black; text-align: left;">Nombre(s): </h4>
                  <br>
                  <input type="text" style="text-align: center;" class="form-control col-12" id="nombre" required>
                </div>
                <div class="form-group">
                  <h4 style="color:black; text-align: left;">Apellido(s): </h4>
                  <br>
                  <input type="text" style="text-align: center;" class="form-control col-12" id="apellido" required>
                </div>
                <div class="form-group">
                  <h4 style="color:black; text-align: left;">DPI Jefe: </h4>
                  <br>
                  <input type="text" style="text-align: center;" class="form-control col-12" id="jefe" required>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
              <div class="form-group">
                <div class="form-group">
                  <h4 style="color:black; text-align: left;">Fecha de Inicio: </h4>
                  <br>
                  <input type="date" style="text-align: center;" class="form-control col-12" id="fecha" required>
                </div>
                <div class="form-group">
                  <h4 style="color:black; text-align: left;">Correo: </h4>
                  <br>
                  <input type="text" style="text-align: center;" class="form-control col-12" id="correo" required>
                </div>
                <div class="form-group">
                  <h4 style="color:black; text-align: left;">Permisos: </h4>
                  <br>
                  <select id="permisos" class="custom-select">
                    <option selected="" value="1">RRHH</option>
                    <option value="2">Gerente</option>
                    <option value="3">Administrativo</option>
                    <option value="4">Operativo</option>
                  </select>
                </div>
                <div class="form-group">
                  <h4 style="color:black; text-align: left;">Departamento: </h4>
                  <br>
                  <select id="depto" class="custom-select">
                    <option selected="" value="2101">JALAPA</option>
                    <option value="2107">MATAQUESCUINTLA</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center mt-4">
            <div class="col-sm-10 col-md-6 col-lg-4 col-xl-4">
              <div class="form-group">
                <button class="btn btn-secondary col-12" style=" color: black; font-size: 200%;"
                  onclick="Registrar()">Registrar</button>
              </div>
            </div>
          </div>
          <div class="container">
            <br>
            <br>
          </div>
        </div>

        <div class="container">
          <br>
        </div>
      </div>
    </div>

    <footer class="page-footer font-small blue" style="background-color: rgba(96, 96, 96, 0.5);">
      <br>
      <div class="footer-copyright text-center py-3">2020 Made By:
        <h6 style="color: black;">Josué Isael Bonilla Matías</h6>
      </div>
    </footer>

  </div>

</body>

</html>